html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 60px;
  padding-left: 50px;
  background: #4C1E4F;
  background: linear-gradient(141deg, #4C1E4F 0%, #FA7E62 100%);
  border-bottom: 5px solid #FA7E62;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  height: 100%;
}
nav select {
  width: 200px;
  height: 30px;
  text-align: center;
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}
nav div {
  width: 200px;
  height: 55px;
  background: rgba(125, 125, 125, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav div p {
  font-size: 16px;
  color: #000000;
}
nav div figure {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 100%;
}
nav div figure img {
  height: 80px;
  transform: translate(-5px, -10px);
}
.listing-container {
  width: 100%;
  background: red;
  display: flex;
  flex-direction: row;
}
.listing-container form {
  width: 300px;
  background: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.listing-container form h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
.listing-container form select {
  width: 100%;
  margin-bottom: 50px;
  height: 35px;
  border: 2px solid #000;
  border-radius: 5px;
}
.listing-container form input {
  width: 100%;
  height: 35px;
  border: 2px solid #000;
  border-radius: 5px;
}
.listing-container .card-container {
  width: 100%;
  padding: 20px;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.listing-container .card-container .item-card {
  width: 180px;
  height: 220px;
  margin: 10px;
  background: #FFF3E9;
}
.region-selection {
  width: 100%;
  height: calc(100vh - 60px);
  background: linear-gradient(45deg, #4c1e4f 0%, #fa7e62 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.region-selection h1 {
  font-size: 24px;
}
.region-selection div {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.region-selection div a {
  width: 250px;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
.nav__button {
  background: rgba(125, 125, 125, 0.73);
  width: 50%;
  padding: 15px 5px;
}
.dashboard {
  background: linear-gradient(258.7deg, #fa7e62 -0.11%, #f34173 100%);
  color: white;
  height: 350px;
  margin-bottom: 40px;
}
.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rebeccapurple; */
  height: 100%;
}
.profile__picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url("../img/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.profile__name {
  border-right: 3px solid white;
  padding: 40px;
}
.profile__listings {
  padding: 40px;
}
.profile__form {
  /* border: 1px solid rebeccapurple; */
  width: 40%;
  min-width: 300px;
  height: 500px;
  padding-left: 50px;
}
.profile__form button {
  margin: 5px 0;
  width: 100%;
}
.profile__form label {
  font-weight: bold;
}
.products {
  /* border: 2px solid green; */
  display: flex;
}
.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #4c1e4f 0%, #fa7e62 100%);
}
.auth-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background: #FFE1C7;
}
.auth-form form label {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}
.auth-form form label input {
  height: 35px;
  width: 250px;
  margin-left: 25px;
  border: 2px solid #000000;
  border-radius: 5px;
}
.auth-form form label select {
  height: 35px;
  width: 250px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-left: 25px;
}
.auth-form form button {
  align-self: flex-end;
  height: 35px;
  width: 250px;
  border: 2px solid #000000;
  border-radius: 5px;
}
